/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

/* Estilos adicionales */
@layer base {
    body {
        font-family: 'Source Code Pro', monospace;
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.certificates img {
    border-radius: 10px;
  }
  

/* Estilo para el contenedor de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Anchura de la barra de desplazamiento */
    border-radius: 10px;
  }
  
  /* Estilo para la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra */
    border-radius: 10px; /* Bordes redondeados */
    border: 3px solid transparent; /* Espacio entre la barra y el contenedor */
    background-clip: padding-box;
  }
  
  /* Cambiar el color de la barra cuando se hace hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ce0000c9;
  }
  
  /* Estilo para el track (la parte fija de la barra de desplazamiento) */
  ::-webkit-scrollbar-track {
    background-color: #61616100; /* Color del track */
    border-radius: 10px; /* Bordes redondeados */
  }
  